extends ../shared/template
block content
  #controls
    #visibility
      button#hide HIDE FORM
      button#show SHOW FORM
    form(method='post', action='/recipes')
      input(name='name', type='text', placeholder='RECIPE NAME')
      input(name='photo', type='text', placeholder='IMAGE URL')
      input(name='ingredients', type='text', placeholder='INGREDIENTS')
      label DIRECTIONS
      textarea(name='directions')
      button ADD RECIPE

  #recipes
    each recipe in recipes
      include recipe

block scripts

